<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server-Side File Manipulation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/styles/styles.css">

</head>
<body>
    <div class="container">
        <h2>Server-Side File Manipulation</h2>
        <p>Edit the content of the textbox and click save to store that 
            message on the server side data.txt file.
        </p>
        <div id="content">
            <!-- text area will be loaded here -->
            <!-- see load-content.php for content -->
        </div>
    </div>
    <script src="../public/js/script.js"></script>
</body>
</html>